

<div class="background-index-profil">
    <div class="who">
        <h1>Qui va jouer aujourd'hui?</h1>
    </div>

    <div>
        <%= render 'shared/menu' %>
    </div>
        <br>
    <div class="profil-container d-flex align-items-center justify-content-center">
      <div class="children-container">
            <% @children.each do |child| %>
              <div class="children-cards">
                  <%= link_to child_games_path(child) do %>
                    <%= cl_image_tag child.avatar.key, height: 300, width: 300, crop: :fill %>
                    <h2><%= child.first_name %></h2>
                  <% end %>
              </div>
            <% end %>
      </div>
    <div>
    <div >
        <%= link_to "Ajouter un enfant", new_child_path %>
    </div>
</div>
