
<p class="back"><%= link_to "retour", children_path %></p>

<div class="new-child container">
      <h1>Votre enfant </h1>
      <br>
      <br>
      <%= simple_form_for @child do |f| %>
        <div class="name">
          <%= f.input :first_name, label: false, placeholder: "Prénom" %>
        </div>
        <div class="birth_date">
        <p>Date de naissance</p>
          <%= f.input :birth_date, as: :date, label: false, html5: true %>
        </div>
          <%= f.input :photo, as: :file %>
          <%= f.input :alarm %>
        <div class="Valider">
           <%= f.submit "Valider", class: "validation btn-warning" %>
        </div>

      <% end %>
</div>
