
<div class="container">
<br>
  <%= cl_image_tag @child.avatar.key, height: 220, width: 220, crop: :fill %>

    <h1>Votre enfant <%= @child.first_name %></h1>
      <h1>Ages <%= @child.birth_date %> ans</h1>
      <h1>temps d'ecran <%= @screen_time %></h1>
      <br>
      <% @child_game.each do |game| %>
         <%= game.game.name %>
         <%= game.score %>

      <% end %>

<%= @total_score %>

<br><%= link_to "retour", children_path %>
