<div id="list-of-games" class="head-game">
  <%= link_to children_path() do %>
    <i class="fa-solid fa-arrow-left fa-xl back-arrow"></i>
  <% end %>
  <p><%= "À quel jeu veux-tu jouer #{@child.first_name}?" %></p>
  <i class="fa-solid fa-arrow-left fa-xl"></i>
</div>

<div class="grid-game">
  <% @games.each do |game| %>
    <% if game.category == 'Mémoire'%>
      <% color_card = "green-card-game" %>
    <% elsif game.category == 'Calcul'%>
      <% color_card = "orange-card-game " %>
    <% elsif game.category == 'Logique'%>
      <% color_card = "brown-card-game" %>
    <% elsif game.category == 'Éveil'%>
      <% color_card = "yellow-card-game" %>
    <% elsif game.category == 'Rapidité'%>
      <% color_card = "red-card-game" %>
    <% elsif game.category == 'Écriture'%>
      <% color_card = "dark-green-card-game" %>
    <% end %>
    <%= link_to child_game_child_games_path(@child, game_id: game.id),
      class:"#{color_card}", data:{turbo_method: "post"} do %>
      <div class="photo-game" style="background-image: url(<%= cl_image_path(game.photo.key) %>)">
        <div class="icone">
          <% if game.category == 'Mémoire'%>
            <i class="fa-solid fa-brain fa-lg icone-green"></i>
          <% elsif game.category == 'Calcul'%>
            <i class="fa-solid fa-calculator fa-lg icone-orange"></i>
          <% elsif game.category == 'Logique'%>
            <i class="fa-solid fa-gears fa-lg icone-brown"></i>
          <% elsif game.category == 'Éveil'%>
            <i class="fa-solid fa-lightbulb fa-lg icone-yellow"></i>
          <% elsif game.category == 'Rapidité'%>
            <i class="fa-solid fa-gauge-high fa-lg icone-red"></i>
          <% elsif game.category == 'Écriture'%>
            <i class="fa-solid fa-pen-nib fa-lg icone-dark-green"></i>
          <% end %>
        </div>
        <div class="legend">
          <%= "#{game.description}" %>
        </div>
      </div>
      <div class="bottom-card">
        <p><%= game.name %></p>
        <% if game.category == 'Mémoire'%>
          <p class="play-btn-green">jouer</p>
        <% elsif game.category == 'Calcul'%>
          <p class="play-btn-orange">jouer</p>
        <% elsif game.category == 'Logique'%>
          <p class="play-btn-brown">jouer</p>
        <% elsif game.category == 'Éveil'%>
          <p class="play-btn-yellow">jouer</p>
        <% elsif game.category == 'Rapidité'%>
          <p class="play-btn-red">jouer</p>
        <% elsif game.category == 'Écriture'%>
          <p class="play-btn-dark-green">jouer</p>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
