<!DOCTYPE html>
<html>
  <head>
    <head>
      <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet'>
    <title>Timmy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= favicon_link_tag "favicon.png", rel: "icon", type: "image/png" %>
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
  </head>

  <body>
    <% if ["children"].include?(params[:controller]) %>
      <%= render "shared/navbar_burger_menu"  %>
    <% end %>
    <%= render "shared/flashes" %>

    <%= yield %>
  </body>
</html>
